body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 25px;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

header p {
    margin: 5px 0 15px;
    font-size: 18px;
    color: #ccc;
}

nav a {
    color: #f1f1f1;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #4db8ff;
}

section {
    width: 80%;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
}

h2 {
    color: #333;
}

ul li {
    text-align: left;
    margin-bottom: 15px;
    font-size: 16px;
}
